.diptych {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: $diptychMarginTop;

  .diptych__panel {
    padding: 0;
  }

  &.diptych--about-us {
    margin-top: $diptychMarginTop / 2;

    .diptych__panel {
      @include margin(1.5, 0);
    }
  }

  @media screen and (max-width: $mobile) {
    //margin-top: $diptychMarginTop / 2;
    padding-left: $marginSizeMobile;
    padding-right: $marginSizeMobile;

    .diptych__panel {
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &.diptych--footer {
      margin-top: $space * 2.5;
    }

    &.diptych--menu {
      margin-top: $menuSpacingMobile * 1.5;
    }
  }
}
