.foreground-image {
  position: absolute;
  height: 78vh;
  top: 50%;
  left: 0;
  transform: translate(-$marginSize * 1.5, -50%);

  img {
    position: relative;
    height: 100%;
    width: auto;
    z-index: $indexForegroundImage;
  }

  .foreground-image__shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: radial-gradient(rgba($black, 0.5), rgba($black, 0) 75%);
    z-index: $indexForegroundImage - 1;
    transform: translate(-20px, 20px);
  }

  &.foreground-image--nudge-more {
    //transform: translate(-$marginSize * 2, -50%);
  }

  @media screen and (max-width: $tablet) {
    height: 65vh;
    transform: translate(-$marginSize * 1, -50%);

    img {
      position: static;
    }

    .foreground-image__shadow {
      transform: translate(0, 10px);
    }
  }

  @media screen and (max-width: $mobile) {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(0, 5vh);

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}
