div, * {
  box-sizing: border-box;
  //outline: 1px solid rgba($black, 0.125);
}

body {
  font-family: $fontStack;
  font-size: $fontSize;
  color: $black;
  line-height: $lineHeight;
  margin: 0;
  overflow-x: hidden;
}

h1, h2 {
  margin: 0;
  padding: 0;
}
