$s: 50px;

.menu-button {
  position: fixed;
  top: 0;
  right: 0;
  margin: $marginSize;
  cursor: pointer;
  z-index: $indexOverlay;
  width: 50px;
  height: 50px;

  .bar {
    width: 50px;
    height: 10px;
    background: $white;
    margin-bottom: $space;
    transform-origin: 25px 5px;
    transition: $transition;
  }

  &:hover {
    .bar:first-child {
      transform: translate(0, 5px);
    }

    .bar:nth-child(2) {}

    .bar:last-child {
      transform: translate(0, -5px);
    }
  }

  &.active {
    .bar:first-child {
      transform: translate(0, 20px) rotate(45deg);
    }

    .bar:nth-child(2) {
      opacity: 0;
    }

    .bar:last-child {
      transform: translate(0, -20px) rotate(-45deg);
    }
  }
}
