.section {
  width: 100%;
  height: 100vh;

  .section__inner {
    width: 100%;
    height: 100%;
    display: flex;

    .section__left {

    }

    .section__right {

    }
  }

  .section__inner--reverse-order-mobile {

  }
}
