.section {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  transition: opacity $transitionSlow;

  &.blurred {
    opacity: 0.5;
  }

  .section__inner {
    width: 100%;
    height: 100%;
    display: flex;

    .section__left {
      width: 58%;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: flex-end;
    }

    .section__right {
      width: 42%;
      height: 100%;
      position: relative;
      @extend .no-select;

      .foreground-image {}
    }

    .section__full {
      width: 100%;
      height: 100%;
      position: relative;
    }

    .section__right, .section__full {
      .background-image {}
    }
  }

  @media screen and (max-width: $mobile) {
    height: auto;
    max-height: none;
    margin-bottom: $space * 5;

    .section__inner {
      display: flex;
      flex-direction: column-reverse;
      flex-wrap: nowrap;

      .section__left {
        width: 100%;
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .section__right {
        width: 100%;
        height: 50vh;
      }
    }

    .section__inner--mobile-alt {
      flex-direction: column;
      padding-top: $mobileNavSize;

      .section__left {
        margin-top: 40px;
        margin-bottom: 0;
      }

      .section__right {
      }
    }
  }
}
