.social-media-list {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  user-select: none;
  z-index: $indexOverlay;
  padding-left: $marginSize;

  .social-media-list__item {
    @include margin(0, 0.5);

    a {
      width: $socialMediaIconSize;
      height: $socialMediaIconSize;
      background: $green;
      border-radius: $socialMediaIconSize;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background: $red;
      }

      &:active {
        background: $lightBlue;
      }
    }
  }

  @media screen and (max-width: $mobile) {
    padding-left: $marginSizeMobile;
  }
}
