$fontStack: 'Raleway', sans-serif;
$fontStackAlt: 'Gorditas', sans-serif;
$fontStackTitle: 'Cabin Sketch', cursive;
$fontSize: 16px;
$fontMedium: 28px;
$fontLarge: 48px;
$fontHuge: 120px;
$lineHeight: 1.5;
