$fontStack: 'Raleway', sans-serif;
$fontStackAlt: 'Gorditas', sans-serif;
$fontStackTitle: 'Cabin Sketch', cursive;
$fontSize: 16px;
$fontMedium: 28px;
$fontLarge: 38px;
$fontHuge: 100px;
$lineHeight: 1.5;
