// colour
$blue: #346094;
$lightBlue: #4ec1e0;
$cyan: #1E988A;
$green: #77BC1F;
$red: #FF5B35;
$orange: #F6B221;
$black: #1C1C1C;
$white: #fff;

// animation
$transitionFast: 0.25s;
$transition: 0.4s;
$transitionSlow: 1s;

// break points
$tablet: 1100px;
$tabletPortrait: 900px;
$mobileLandscape: $tabletPortrait;
$mobile: 800px;

// height
$indexMenu: 100;
$indexOverlay: 200;
$indexLogo: 200;
$indexWrapper: 1;

// sizing
$space: 10px;
$marginSize: 50px;
$marginSizeMobile: 20px;
$socialMediaIconSize: 34px;
$logoWidth: 140px;
$menuSpacing: 43px;
$headingMarginBottom: 34px;
$diptychMarginTop: 90px;
$hamburgerSize: 50px;
$hamburgerSizeMobile: 35px;
$mobileNavSize: 74px;
